
@{
    ViewData["Title"] = "PassUsingModel";
}

<div class="text-left">
    <h1 class="display-4">Pass Using Model</h1>
</div>
<ul class="CalcUl">
    <li>Rand Value First : @Model.First</li>
    <li>Rand Value Second :@Model.Second</li>
    <li>Add :</li>
    <li>@Model.First + @Model.Second = @Model.Add  </li>
    <li>Sub :</li>
    <li>@Model.First - @Model.Second = @Model.Sub   </li>
    <li>Mult :</li
    <li>@Model.First * @Model.Second = @Model.Mult   </li>
    <li>Div :</li>
    <li>@Model.First / @Model.Second = @Model.Div   </li>
</ul>

