
@{
    ViewData["Title"] = "PassUsingViewData";
}

<div class="text-left">
    <h1 class="display-4">Pass Using View Data</h1>
</div>
<ul class="CalcUl">
    <li>Rand Value First  :@ViewData["First"]</li>
    <li>Rand Value Second :@ViewData["Second"]</li>
    <li>Add :</li>
    <li>@ViewData["First"] + @ViewData["Second"] = @ViewData["Add"] </li>
    <li>Sub :</li>
    <li>@ViewData["First"] - @ViewData["Second"] = @ViewData["Sub"]</li>
    <li>Mult :</li>
    <li>@ViewData["First"] * @ViewData["Second"] = @ViewData["Mult"]</li>
    <li>Div :</li>
    <li>@ViewData["First"] / @ViewData["Second"] = @ViewData["Div"] </li>
</ul>

