<div class="text-left">
    <form runat="server" method="post">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <nobr>Text</nobr>
        <br>
        @Html.RadioButton("Radio", "January")
        <span>January</span> <br />
        @Html.RadioButton("Radio", "February")
        <span>February</span> <br />
        @Html.RadioButton("Radio", "March")
        <span>March </span> <br />
        @Html.RadioButton("Radio", "April")
        <span>April </span> <br />
        @Html.RadioButton("Radio", "May")
        <span>May </span> <br />
        @Html.RadioButton("Radio", "June")
        <span>June </span> <br />
        @Html.RadioButton("Radio", "July")
        <span>July </span> <br />
        @Html.RadioButton("Radio", "August")
        <span>August </span> <br />
        @Html.RadioButton("Radio", "September")
        <span>September </span> <br />
        @Html.RadioButton("Radio", "October")
        <span>October  </span> <br />
        @Html.RadioButton("Radio", "November")
        <span>November </span> <br />
        @Html.RadioButton("Radio", "December")
        <span>December  </span> <br />
        <input type="submit" value="Submit" />
    </form>
</div>
