@{
    ViewData["Title"] = "TextBox";
}

<div class="text-left">
    <form runat="server" method="post">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <nobr>Text</nobr>
        <br>
        @Html.RadioButton("radio", "red")
        <span>January</span> <br />
        @Html.RadioButton("radio", "red")
        <span>Febr</span> <br />
        @Html.RadioButton("radio", "red")
        <span>March </span> <br />
        @Html.RadioButton("radio", "red")
        <span>April </span> <br />
        @Html.RadioButton("radio", "red")
        <span>May </span> <br />
        @Html.RadioButton("radio", "red")
        <span>June </span> <br />
        @Html.RadioButton("radio", "red")
        <span>July </span> <br />
        @Html.RadioButton("radio", "red")
        <span>August </span> <br />
        @Html.RadioButton("radio", "red")
        <span>September </span> <br />
        @Html.RadioButton("radio", "red")
        <span>October  </span> <br />
        @Html.RadioButton("radio", "red")
        <span>November </span> <br />
        @Html.RadioButton("radio", "red")
        <span>December  </span> <br />
        <input type="submit" value="Submit" />
    </form>
</div>
